.about{
    background: white;
    color: grey;
    font-size: 25px;
  
  }
  
  .about p {
    margin: 0;
    padding-left: 25px;
    font-size: 1em;
  }
  
  .about .profile{
    background:  url('../images/profile.png') no-repeat;
    width: 290px;
    height: 290px;
    object-fit: contain;
    margin:20px;
    border: 0;
    position: relative;
    left:400px;
    
  }