body{
    margin: 0;
}

h1,h2,h3{
    margin: 0;
}
h1{
  background: #619E89;
  color: white;
  padding: 25px;
  font-weight: 400;
  box-shadow: 0 5px 10px 8px #888888;
}

a{
    text-decoration: none;

}

li{
    list-style: none;
}

.common{
  margin-left: 200px;
  min-height:100vh;
}

@import "./navigation.css";

@import "./home.css";

@import "./about.css";

@import "./experience.css";

@import "./projects.css";

@import "./skills.css";

@import "./education.css";

@import "./contact.css";




